<%= f.fields_for :contentable, contentable do |c| %>
  <%= c.hidden_field :type %>
  <%= c.hidden_field :multilingual_page_id %>
  <%= c.hidden_field :id %>
  <br/>

  <div>
    <%= c.label :description, t('content_types.text') %>
    <%= c.text_area :description  %>
  </div>
  <br/>

  <div>
    <%= c.label :image, t('content_types.image') %>
    <%= c.file_field :image %>
  </div>

  <div>
    <%= t('hotels.curr_image') %><br />
    <div id="content-current-image">
      <%= image_tag contentable.image.url(:thumb) %>
    </div>
  </div>
  <br />

  <div>
    <%= c.label :phone_number, t('content_types.phone_no') %>
    <%= c.text_field :phone_number %>
  </div>
  <br />

  <div>
    <%= c.label :disable_image, t('content_types.disable_image') %>
    <%= c.check_box :disable_image %>
  </div>
  <br />
<% end %>
