<%= f.fields_for :contentable, contentable do |c| %>
  <%= c.hidden_field :type %>
  <%= c.hidden_field :multilingual_page_id %>
  <%= c.hidden_field :id %>

  <div>
    <%= c.label :description, t('content_types.text') + '*' %>
    <%= c.text_area :description %>
  </div>
<% end %>
